@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,600&display=swap");

/* ----------GLOBAL CLASSES STARTS HERE-------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.4s;
  margin-top: 20px;
}
button.white:hover {
  color: rgb(8, 95, 42);
  background-color: transparent;
  border: 1px solid rgb(8, 95, 42);
}

/* ----------GLOBAL CLASSES ENDS HERE-------- */

/* header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
  margin-right: 10px;
  padding: 0 10px;
  position: relative;
}

ul li a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
}

ul li a:hover,
ul li a.active {
  color: #2571d3;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}

ul li a.active::after,
ul li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #fff;
  background: #2571d3;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* ----------------hero---------- */
#hero {
  background-image: url("./img//hero4.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #2571d3;
}

#hero button {
  background-image: url("./img/button.png");
  background-color: transparent;
  color: #088178;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
}

/*------- features ---------*/

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#features .fe-box:hover {
  box-shadow: 25px 25px 34px rgba(0, 62, 221, 0.1);
}
#features .fe-box img {
  width: 100%;
  margin-bottom: 5px;
}

#features .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  display: inline-block;
}

#features .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#features .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#features .fe-box:nth-child(4) h6 {
  background-color: #ccd4f8;
}
#features .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#features .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* feature product */

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.4s;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img {
  width: 100%;
}

#product1 .pro .des {
  text-align: left;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(236, 175, 5);
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: red;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #070707;
  position: absolute;
  bottom: 20px;
  right: 10px;
  transition: 0.4s;
}

#product1 .pro .cart:hover {
  background-color: #070707;
  color: #e8f6ea;
}

#product1 .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Banner */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: rgb(235, 66, 66);
}

#banner button:hover {
  background-color: #088178;
  color: #fff;
}

/* sm banner */

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./img/banner/b17.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-top: 20px;
}
#sm-banner .banner-box2 {
  background-image: url("./img/banner/b10.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300px;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 500px;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

/* 3 banner section */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 20px;
}

#banner3 .banner-box2 {
  background-image: url("./img/banner/b4.jpg");
}
#banner3 .banner-box3 {
  background-image: url("./img/banner/b18.jpg");
}
#banner3 .banner-box4 {
  background-image: url("./img/banner/b19.jpg");
}

#banner3 h2 {
  color: #fff;
  font-weight: 800;
  font-size: 22px;
}

#banner3 h3 {
  color: #ffd000;
  font-weight: 700;
  font-size: 16px;
}

/* newsletter section */
#newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  background-image: url("./img/banner/b2.jpg");
  background-position: 20% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #ccd4f8;
}
#newsletter p {
  font-size: 14px;
  font-weight: 500;
  color: #ccd4f8;
}

#newsletter p span {
  color: #ff2893;
}
#newsletter input {
  height: 3rem;
  padding: 0 1em;
  font-size: 12px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter .form {
  display: flex;
  width: 40%;
  align-items: center;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter button {
  background: rgb(213, 1, 255);
  color: #fff;
}

/* ----footer -------- */

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

#footer .col a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  transition: 0.4s;
}
#footer .col a:hover {
  color: rgb(0, 89, 255);
}

#footer .logo {
  margin-bottom: 30px;
}

#footer h4 {
  font-size: 14px;
  padding-bottom: 15px;
}
#footer p {
  font-size: 12px;
  margin: 0 0 8px 0;
}
#footer .follow {
  margin-top: 20px;
}
#footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
}
#footer .follow i:hover {
  color: #0051ff;
}

#footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

#footer .install img {
  margin: 10px 0 15px 0;
}

#footer .copyright {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

/* ------------------product page--------- */

#page-header {
  background-image: url(./img/banner/b1.jpg);
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 14px;
}

#page-header h2 {
  color: #e2e6f3;
}

#page-header p {
  color: #c1c4cf;
}

/* blog header */
#blog-header {
  background-image: url(./img/banner/b19.jpg);
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 14px;
}

#blog-header h2 {
  color: #d4e7f3;
}

#blog-header p {
  color: #000000;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  position: relative;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 55px;
  font-weight: 600;
  color: #606063;
  z-index: -1;
}

/* -----------------About us page--------------- */
#blog-header.about-header {
  background-image: url("./img/about/banner.png");
}

#blog-header.about-header p {
  color: #c1c4cf;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 0;
}

/* ----------------------contact Us Page------------- */

#blog-header.contact-header {
  background-image: url("./img/contact/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg");
  background-position: 20% 30%;
}

#blog-header.contact-header h2 {
  color: rgb(85, 215, 255);
  align-items: center;
  justify-content: space-between;
}

#blog-header.contact-header p {
  color: rgb(85, 110, 255);
}

#contact-details {
  display: flex;
}

#contact-details .details {
  width: 50%;
}

#contact-details .details span {
  font-size: 12px;
}

#contact-details .details h2 {
  font-size: 22px;
  line-height: 25px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

#contact-details .details i {
  font-size: 14px;
  padding: 22px;
}

#contact-details .details p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 50%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

/* form */

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

#form-details form span,
h3 {
  text-align: center;
  object-fit: 10px;
  margin-bottom: 20px;
}

#form-details form input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #d1e8f2;
  outline: none;
  margin-bottom: 20px;
}

#form-details form button {
  background-color: #465b52;
  color: #ccd4f8;
  border: 1px solid #465b52;
  font-size: 15px;
  transition: 0.4s;
}

#form-details form button:hover {
  background-color: #ccd4f8;
  color: #465b52;
}

#form-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people div {
  padding-bottom: 25px;
  margin-left: 30px;
  text-align: center;
}

.people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  line-height: 25px;
}

.people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

/* -----------Media Query Starts--------- */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  body {
    overflow-x: hidden;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0 0 10px;
    transition: 0.4s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
    font-size: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #000;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 25px;
  }

  #lg-bag {
    display: none;
  }

  /* hero */
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: 30% 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #newsletter .form {
    width: 70%;
  }

  /* contact */
  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }
}

/* mobile screen  */
@media (max-width: 477px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .section-p1 {
    padding: 20px;
  }
  #navbar {
    padding: 70px 10px;
  }
  #hero {
    padding: 0 18px;
    background-position: 55%;
  }

  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #banner {
    height: 40vh;
  }

  #newsletter .form {
    width: 100%;
  }

  #product1 .pro-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  /* product page */
  #page-header {
    height: 70vh;
    padding: 0 80px;
    background-position: 30% 30%;
  }
  #page-header h2 {
    font-size: 22px;
  }
  #page-header p {
    font-size: 12px;
  }

  /* blog- page */
  #blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* about us page */
  #about-head {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

  #features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #about-app video {
    width: 100%;
    margin: 20px auto 0 0;
  }

  /* contact page */
  #contact-details {
    display: flex;
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 50px;
  }

  #contact-details .map {
    width: 100%;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 80px;
  }
}
/* -----------Media Query Ends--------- */
